<%- include("../partials/header") %>

<section class="dashboard card">
  <h2>Dashboard tvrtke</h2>
  <div class="dashboard-actions">
    <a href="/shipments/active" class="btn btn-primary">Sve aktivne pošiljke</a>
    <a href="/shipments/history" class="btn btn-secondary">Povijest pošiljki</a>
    <a href="/register-courier" class="btn btn-secondary">Dodaj kurira</a>
    <a href="/my-couriers" class="btn btn-secondary">Svi moji kuriri</a>
  </div>
</section>

<%- include("../partials/footer") %>
